# Arquivo de segredos
# NUNCA remova esta linha
.env

# Banco de dados de desenvolvimento
db.sqlite3
*.sqlite3

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*~

# Pasta de arquivos estáticos coletados (para produção)
/staticfiles/
/media/

# Ambientes virtuais
venv/
env/
.venv/
