# Use a sua SECRET_KEY original e segura aqui
SECRET_KEY = ''

# Para desenvolvimento local. Em produção, mude para False.
DEBUG=True

# Credenciais de Email
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL='KeyCrypt <>'

# Chave de Criptografia
FERNET_KEY=''

# URL do site
SITE_URL='http://localhost:8000'

#Chave do Telegram API

TELEGRAM_API_KEY='uma-chave-secreta-muito-longa-e-dificil-de-adivinhar'
